* {
  margin: 0;
  padding: 0; }

body {
  background: white;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-family: "Source Sans Pro", Helvetica; }

a:link, a:visited {
  color: #165788;
  text-decoration: none; }
a:hover, a:focus, a:active {
  text-decoration: underline; }

.wrapper {
  width: 100%; }

.container {
  width: 90%; }

@media only screen and (min-width: 320px) {
  .wrapper {
    width: 300px;
    margin: auto; }

  .container {
    width: 300px;
    margin: auto; } }
@media only screen and (min-width: 980px) {
  .wrapper {
    width: 980px;
    margin: auto; }

  .container {
    width: 660px;
    margin: auto; } }
#index {
  padding-top: 20px; }

@media only screen and (min-width: 320px) {
  #index {
    padding-top: 50px; } }
@media only screen and (min-width: 980px) {
  #index {
    padding-top: 100px; } }
#index h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 200; }
  #index h1 a:link, #index h1 a:hover, #index h1 a:active, #index h1 a:focus, #index h1 a:visited {
    text-decoration: none;
    color: black; }
@media only screen and (min-width: 320px) {
  #index h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 200; } }
@media only screen and (min-width: 980px) {
  #index h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 200; } }
#index nav {
  margin: 10px 0px 30px 0px;
  text-align: center;
  color: #aaaaaa; }
  #index nav a:first-child {
    margin-right: 10px; }
  #index nav a:last-child {
    margin-left: 10px; }
#index #about {
  margin: 30px auto 0px auto;
  padding: 10px;
  border-radius: 10px;
  background: #bbbbbb;
  line-height: 150%; }
#index .error {
  overflow: auto; }
  #index .error a {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 10px; }
@media only screen and (min-width: 320px) {
  #index #about {
    padding: 10px;
    max-width: 280px; } }
@media only screen and (min-width: 980px) {
  #index #about {
    padding: 20px;
    max-width: 350px; } }
#index footer {
  margin: 20px auto 0px auto; }
  #index footer p {
    text-align: center;
    font-size: 12px; }

#content {
  margin: 50px auto 0px auto; }

@media only screen and (min-width: 320px) {
  #content {
    width: 280px;
    margin: 50px auto 0px auto; } }
@media only screen and (min-width: 980px) {
  #content {
    width: 650px;
    margin: 70px auto 0px auto; } }
#content h1, #content h2 {
  color: black;
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 48px; }
#content h3 {
  color: black;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  margin: 30px 0px 30px 0px;
  font-size: 28px;
  font-weight: 200; }
#content footer {
  display: block;
  text-transform: capitalize;
  width: 100%;
  margin: 10px 0px 30px 0px; }
  #content footer a {
    display: block;
    padding-top: 3px;
    width: 100%;
    border-top: 1px solid #cccccc; }
    #content footer a:link, #content footer a:hover, #content footer a:active, #content footer a:focus, #content footer a:visited {
      text-decoration: none;
      border-top: 1px solid #cccccc; }
#content p {
  width: 100%;
  line-height: 150%;
  margin-bottom: 20px; }
  #content p:first-child {
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px; }
  #content p:first-child:first-line {
    font-weight: bold; }
